body {
    margin: 0px;
}

.open {
    background: #2e2e2e;
    height: 25px;
    position: relative;
    align-content: center;
}

.opena {
    margin-left: 15%;
}
.opena a {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 20px;
}
a:link {
    text-decoration: none;
}

a:hover {
    color: white;
}

.open1 {
    background-color: #222;
    height: 90px;
    position: relative;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.logopadding{
    padding-top: 1px;
    padding-left: 12%;
    margin-right: 100px;
}

.textpadding {
    width: auto;
    height: 50px;
    align-content: center;
}

.textpadding a{
    padding: 10px;
    background: rgba(255, 255, 255, .2);
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    margin-left: 20px;
    width: auto;
}

.open2 {
    background-color: #222;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    border-top: #2e2e2e 1px solid;
}

.link {
    padding-top: 1px;
    padding-left: 185px;
    align-content: center;
}

.open2 a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: auto 25px;
}

.link a:hover{
    color:red;
}

.content {
    width: 50%;
    margin-left: 15%;
    margin-top: 50px;
    padding-top: 20%;
    padding-bottom: 8%;
    background-color: white;
    height: fit-content;
    display: block;
    position: relative;
    padding-right: 30px;
}

.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    margin-left: 5%;
}

.contentcon {
    width: 85%;
    margin-left: auto;
}


.linkweb li, a {
    font-size: 15px;
    line-height: 18px;
    color: #41455e;
    text-decoration: none;
    position: relative; 
    text-align: justify;
}

.header2 {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.linkweb a:hover {
    color: blue;
}

.textanhimg img {
    width: 95%;
    margin-bottom: 10px;
    margin-right: 10px;
}

.textanhimg p {
    text-align: left;
    font-size: 18px;
}

#boldtext {
    font-weight: bold;
    font-size: 19px;
}

.button {
    text-align: center;
    margin: 80px;
}

.button a{
    background-color: #007bff;
    border: none;
    color: white;
    text-align: center;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 167.578px;
    height: 58px;
}

.button a:hover {
    background-color: aqua;
}